.rocket{
  padding: 5px;
  margin: 5px;
  width:60px;
  background: yellow;
  position: relative;
  left: -80px;
  top: 25px;
}

.label {
  font-weight: bold;
}


.form-group {
  margin-bottom: 5px;
}
.float{
	float: left;
	margin-left: 300px;
}


.stick{
	margin-top: 400px;
	margin-left: 500px;
}
#switch{
	margin-left: 550px;
}
h2{
  position: relative;
  left: -40px;
}